@page "/traininglog/{ExerciseId:int}"

@if (exercise == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@exercise.Name</h1>
    <EditForm Model="@trainingLog" OnValidSubmit="HandleValidSubmit">
        <div>
            <label for="metricWeight">Weight (lbs):</label>
            <div class="input-group mb-3">
                <button class="btn btn-secondary px-4" type="button" @onclick="DecrementWeight">-</button>
                <InputNumber @bind-Value="trainingLog.MetricWeight" id="metricWeight" class="form-control text-center" />
                <button class="btn btn-secondary px-4" type="button" @onclick="IncrementWeight">+</button>
            </div>
        </div>
        <div>
            <label for="reps">Reps:</label>
            <div class="input-group mb-3">
                <button class="btn btn-secondary px-4" type="button" @onclick="DecrementReps" disabled="@((trainingLog.Reps <= 1))">-</button>
                <InputNumber @bind-Value="trainingLog.Reps" id="reps" class="form-control text-center" />
                <button class="btn btn-secondary px-4" type="button" @onclick="IncrementReps">+</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <button type="submit" class="btn @(isEditMode ? "btn-success" : "btn-primary") w-100">@primaryButtonText</button>
            </div>
            <div class="col-6">
                <button type="button" @onclick="ClearOrDelete" class="btn @(isEditMode ? "btn-danger" : "btn-secondary") w-100">@secondaryButtonText</button>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
    </EditForm>
    @if (logs.Any())
    {
        <table class="table">
            <tbody>
                @for (int i = 0; i < logs.Count; i++)
                {
                    var currentLog = logs[i];
                    <tr @onclick="() => SelectLog(currentLog)" class="@(trainingLog.Id == currentLog.Id ? "table-info" : "")">
                        <td>
                            @(i + 1)
                            @if (personalRecords.ContainsKey(currentLog.Reps) && currentLog.MetricWeight >= personalRecords[currentLog.Reps])
                            {
                                <span>🏆</span>
                            }
                        </td>
                        <td>@currentLog.MetricWeight lbs</td>
                        <td>@currentLog.Reps reps</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
